<div class="modal hide" id="delete_confirm" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Deleting <%= @service.name %></h3>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete this service?</p>
  </div>
  <div class="modal-footer">
    <form action="<%= service_path @service.id %>" method="post">
      <input type="hidden" name="_method" value="delete" />
        <input type="submit" class="btn btn-danger" value="Yes" />
        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">No</a>
    </form>
  </div>
</div>
<div class="row">
  <div class="span8">
    <%= form_for @service, :html => { :class => 'form-vertical' }, :url => { :action => 'update'} do |f| %>
      <fieldset class="control-group">
        <%= label_tag :name, 'Name' %>
        <%= f.text_field :name, :value => @service.name %>

        <%= label_tag :description, 'Description' %>
        <%= f.text_area :description, :rows => '3', :value => @service.description %>

        <%= label_tag :uri, 'Webservice URI' %>
        <%= f.text_field :uri %>

        <%= label_tag :expectation, 'Expected Response' %>
        <%= f.text_field :expectation, :value => @service.expectation %>
        <br />
        <%= f.submit 'Save changes', :class => 'btn btn-primary ' %>
        <button class="btn btn-danger" data-toggle="modal" data-target="#delete_confirm">Delete service</button>
      </fieldset>
    <% end %>
  </div>
</div>
