<div class="row">
  <div class="span8">
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>URI</th>
        <th>Expected response</th>
      </tr>
      <% @services.each do |service| %>
          <tr>
            <td><%= link_to(service.name, service_path(service.id)) %></td>
            <td><%= service.description %></td>
            <td><%= service.uri %></td>
            <td><%= service.expectation %></td>
          </tr>
      <% end %>
    </table>
  </div>
</div>
<div class="row">
  <div class="span4">
    <a class="btn btn-primary" href="<%= new_service_path %>">Add webservice</a>
  </div>&nbsp;
</div>&nbsp;
