<div class="row">
  <div class="span8">
    <%= form_for @service, :html => { :class => 'form-vertical' }, :url => { :action => 'create' } do |f| %>
      <fieldset class="control-group">
        <%= label_tag :name, 'Name' %>
        <%= f.text_field :name %>

        <%= label_tag :description, 'Description' %>
        <%= f.text_area :description, :rows => '3' %>
        
        <%= label_tag :uri, 'Webservice URI' %>
        <%= f.text_field :uri %>

        <%= label_tag :expectation, 'Expectation (string to look for in the response)' %>
        <%= f.text_field :expectation %>
        
        <%= f.submit 'Save changes', :class => 'btn btn-primary' %>
      </fieldset>
    <% end %>
  </div>
</div>
